# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\RedT\School\Module4\Week2\Session_cookie\M4W2_Session_cookie_save-username-using-Cookies\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
